.error-page {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.error-section {
  width: 30px;
  background-color: var(--background-color);
}

.error-icon {
  transform: scale(3);
  color: var(--error-color);
}
