.friends-room {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--element-background-color);
  background-color: var(--background-color);
  border-radius: 10px;
  position: relative;
}

.friends-room .title {
  width: 80%;
  text-align: center;
}

.close-room-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
