header {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--secondary-background-color);
  color: var(--element-background-color);
}

header .title {
  cursor: pointer;
  font-size: 1.5rem;
}

header .title:hover {
  color: var(--secondary-text-color);
}

/* Notification */

.notification-button {
  position: relative;
}

.notification {
  position: absolute;
  right: 0;
  top: 2px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  border: 1px solid var(--error-color);
  background-color: var(--error-color);
}
