/* Icons */

.icons-wrap {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  transform: scale(1.2);
  color: var(--secondary-text-color);
}

.icon:hover {
  color: var(--element-background-color);
}

.icon-button {
  /* width: fit-content; */
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.icon--avatar {
  cursor: pointer;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  object-fit: cover;
}

.icon--password {
  color: var(--element-background-color);
}

.icon--password:hover {
  color: var(--secondary-text-color);
}

.icon--invalidate {
  transform: scale(2);
  color: var(--error-color);
}

.icon--invalidate:hover {
  color: var(--error-color);
}

/* Buttons */

.button {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  background-color: var(--element-background-color);
  border: none;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-element-background-color);
}

.no-button {
  cursor: pointer;
  width: fit-content;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--secondary-text-color);
}

.no-button:hover {
  color: var(--text-color);
}

/* Modal Back */

.modal-back {
  cursor: default;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.none {
  background-color: rgba(0, 0, 0, 1);
}

.end {
  align-items: end;
}

/* Modal Body */

.modal-body {
  height: 550px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--element-background-color);
  box-shadow: 2px 2px 5px var(--element-background-color);
  border-radius: 10px;
  font-size: 18px;
}

.small {
  height: 300px;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  font-weight: bold;
}

.modal-body .error {
  margin-top: 0.5rem;
}

/* Error */

.error {
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: var(--error-color);
}

/* My friends */

.my-friends {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.friend-card {
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  background-color: var(--light-background-color);
  border: 1px solid var(--element-background-color);
  border-radius: 10px;
}

.friend-card:hover {
  background-color: var(--background-color);
  color: var(--element-background-color);
  font-weight: bold;
}

.friend-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.friend-avatar,
.friend-default-wrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--element-background-color);
  border-radius: 50%;
}

.friend-avatar {
  object-fit: cover;
}

/* Search */

.search-form {
  width: 100%;
  max-width: 350px;
  display: grid;
  place-content: center;
  padding: 1rem;
}

.search-form fieldset {
  display: flex;
  background-color: var(--text-color);
  border: 1px solid var(--background-color);
  border-radius: 10px;
}

.search-form fieldset:hover,
.search-form fieldset:focus {
  color: var(--background-color);
  border: 1px solid var(--element-background-color);
}

.search-form input {
  padding: 0.25rem;
  padding-left: 0.5rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--text-color);
  color: var(--secondary-background-color);
}

.search-form input:focus {
  outline: none;
}

.search-button {
  cursor: pointer;
  display: grid;
  place-content: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--dark-color-3);
}

.search-icon {
  transform: scale(0.8);
}

/* Profile Page */

.profile-page {
  min-height: calc(100vh - 7.5vh);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-header {
  width: 300px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--element-background-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 10px;
}

.avatar-default-wrap,
.profile-avatar {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 4px solid var(--light-background-color);
  background-color: var(--text-color);
  color: var(--background-color);
}

.profile-avatar {
  object-fit: cover;
}

.avatar-icon {
  transform: scale(2);
}

.profile-username {
  font-weight: bold;
}

.friend-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.delete-friend {
  color: red;
}

.delete-friend:hover {
  color: rgb(210, 1, 1);
}

.invite-friend:hover {
  color: var(--text-color);
}

.element-icon {
  color: var(--text-color);
}

.element-icon:hover {
  color: var(--secondary-text-color);
}

/* Avatar */

.avatar-form {
  width: 100%;
  height: 45vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--element-background-color);
  background-color: var(--background-color);
}

.avatar-film-form {
  min-width: 350px;
  border: 1px solid var(--element-background-color);
  border-radius: 10px;
}

.avatar-fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
}

.avatar-label,
.avatar-preview {
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--background-color);
  border-radius: 50%;
  background-color: var(--element-background-color);
  color: black;
}

.avatar-preview {
  object-fit: cover;
}

.avatar-input {
  display: none;
}

.add-avatar-icon:hover {
  color: var(--text-color);
}

.avatar-buttons {
  display: flex;
  gap: 2rem;
}

.avatar-button {
  cursor: pointer;
  padding: 0.25rem 1rem;
  background-color: var(--element-background-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.avatar-button:hover {
  background-color: var(--secondary-element-background-color);
  box-shadow: 1px 1px 5px var(--text-color);
}

.room-card {
  border: 1px solid var(--secondary-element-background-color);
  background-color: var(--secondary-text-color);
  color: var(--light-background-color);
  border-radius: 50%;
}

.room-card:hover {
  background-color: var(--element-background-color);
}
